<!DOCTYPE html>
<html>
  <head>
    <title>Bowling alley</title>
  </head>
  <body>
    <h1> 97 Bowling Alley Lane, Boulder CO</h1>
    <h2>bet you cant bowl a strike every time</h2>
    
  </body>
</html>