<!DOCTYPE html>
<html>
  <head>
    <title>Bowling alley</title>
  </head>
  <body>
    <h1></h1>
    <p>97 Bowling AlleyLane, Boulder CO</p>
    <h2>Bet You Can't Bowl A Strike Every Time</h2>
    
  </body>
</html>